*,
*:before,
*:after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

html {
    font-size: 28px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*@import "../../node_modules/basscss/src/basscss.css";*/
@import "../../node_modules/basscss/node_modules/basscss-defaults/index.css";
@import "../../node_modules/basscss/node_modules/basscss-base-reset/index.css";
@import "../../node_modules/basscss/node_modules/basscss-base-typography/index.css";
@import "../../node_modules/basscss/node_modules/basscss-base-buttons/index.css";
