.Slide-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Slide-content code {
    font-size: 0.5em;
}

.Slide-content > code {
    padding: 0 !important;
    background-color: transparent !important;
}

:root {
    --heading-margin-top: 0.5em;
    --heading-margin-bottom: 0.25em;
    --button-padding-y: 0.5em;
    --button-padding-x: 1em;
}
